@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de usuario</h1>
    <p> Preencha o formulario abaixo.</p>

    <form action="TesteFormData" method="post">

    <label for="nome"> Nome</label>
    <input type="text" name="nome" id="nome" placeholder="Digite Seu Nome">
    <label for="email">email</label>
    <input type="text" name="email" id="email" placeholder="Digite o Seu email">
    <input type="submit" value="Enviar">

    </form>



</div>
